body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: lightskyblue;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: whitesmoke;
}
.parent{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    text-align: center;




}
.child{
    border: 1px solid lightblue;
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin-top: 10rem auto;
    box-shadow: 40px 40px 50px cyan;
    transition: transform .7s ease-in-out;
   
}

.img{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 198px;
    width: 198px;
    object-fit: cover;
    transition: transform .7s ease-in-out;
}
.img-1:hover {
    transform: rotate(360deg);
}
.img-2:hover {
    transform: rotate(360deg);
}
.img-3:hover {
    transform: scale(1.5,1.5) ;
}
.img-4:hover {
    transform: scale(1.5,1.5) ;
}
.img-5:hover {
    transform: scaleX(-1);
}
.img-6:hover {
    transform: scaleX(-1);
}
.img-7:hover {
    transform: rotate(180deg);
}
.img-8:hover {
    transform: rotate(180deg);
}
.img-9:hover {
    transform: skew(180deg);
}
.img-10:hover {
    transform: skew(180deg);
}
.img-11:hover {
    animation: rattle;
    animation-duration: 2s;
}
.img-12:hover {
    animation: rattle;
    animation-duration: 2s;
}
@keyframes rattle {
20% {
    transform: translate(3px) rotate(2deg)
}
40% {
    transform: translate(-3px) rotate(-2deg)
}
60% {
    transform: translate(2px) rotate(1deg)
}
80% {
    transform: translate(-2px) rotate(-1deg)
}
100% {
    transform: translate(1px) rotate(0deg)
}
}

.text{
    background-color: transparent;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    transition: transform .7s ease-in-out;
    opacity: 1;
}
.text:hover {
    opacity: .7
}


@media screen and (max-width: 813px) {
    menu-item {
        width: 100%;
    }
}