body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: lightskyblue;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: whitesmoke;
}
.parent{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 20px;




}
.child{
    border: 1px solid lightblue;
    background-color: orange;
    width: 200px;
    height: 200px;
    margin-top: 10rem auto;
    box-shadow: 40px 40px 50px cyan;
}
.img{
    flex-wrap: wrap;
    align-items: center;
    height: 198px;
    width: 198px;
    object-fit: cover;
}
.text{
    background-color: lightblue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}